@import url("https://fonts.googleapis.com/css2?family=Itim&family=Noto+Serif+JP&family=Rubik&display=swap");

.main {
  width: 800px;
  margin: 0 auto;
}

.total-pokemons {
  margin: 1rem 0;
  opacity: 0.7;
}

.card span {
  font-weight: 600;
}

.id-pokemon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.4;
}
