.total-pokemons {
    margin-bottom: 1rem;
    opacity: 0.5;
}

.card span {
    font-weight: 600;
}

.id-pokemon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.4;
}